body {
    background: #8ace00;;
    color:rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

#paragraph1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#name {
    transform: scale(1, 2.0);
    color: transparent;
    text-shadow: 0 0 0.05em black;
    margin-top:30px;
    margin-bottom:-10px;
}

#subtext {
    margin-top:40px;
    margin-bottom:-10px;
    transform: scale(0.5, 1.0);
    color: transparent;
    text-shadow: 0 0 2px black;
}

#navbar {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap:50px;
}

#about-me {
    margin-top:50px;
    text-align:center;
    font-size:18px;
}

a, a:visited {
    transform: scale(0.5,2.0);
    color: transparent;
    text-shadow: 0 0 2px black;
    font-weight:bold;
    text-decoration: none;
}
