body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.nav-button > a, a:visited {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight:bold;
    transition: ease-in-out .2s;
}

.nav-button > a:hover {
    color: #5e5e5e; 
    font-size:20px;
    transition: ease-in-out .2s;
}

.showcase {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px
}

.showcase-text {
    display: flex;
    flex-direction: column;
}

.showcase-images {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}